record(stringin, "$(PREFIX)Version_RBV") {
    field(DTYP, "asynOctetRead")
    field(DESC, "Version number of the port driver")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))SMARPOD_VERSION")
}

record(stringin, "$(PREFIX)SDKVersion_RBV") {
    field(DTYP, "asynOctetRead")
    field(DESC, "SmarPod SDK Version")
    field(SCAN, "I/O Intr")
    field(INP, "@asyn($(PORT),$(ADDR),$(TIMEOUT))SMARPOD_SDK_VER")
}
